=begin
#Bind ERP API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class AccountingJournalsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Agregar póliza contable
    # 
    # @param new_accounting_journal 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def accounting_journals_add_accounting_journal(new_accounting_journal, opts = {})
      data, _status_code, _headers = accounting_journals_add_accounting_journal_with_http_info(new_accounting_journal, opts)
      return data
    end

    # Agregar póliza contable
    # 
    # @param new_accounting_journal 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def accounting_journals_add_accounting_journal_with_http_info(new_accounting_journal, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingJournalsApi.accounting_journals_add_accounting_journal ..."
      end
      # verify the required parameter 'new_accounting_journal' is set
      if @api_client.config.client_side_validation && new_accounting_journal.nil?
        fail ArgumentError, "Missing the required parameter 'new_accounting_journal' when calling AccountingJournalsApi.accounting_journals_add_accounting_journal"
      end
      # resource path
      local_var_path = "/api/AccountingJournals"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(new_accounting_journal)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingJournalsApi#accounting_journals_add_accounting_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Eliminar póliza contable
    # 
    # @param id_list 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def accounting_journals_delete_accounting_journal(id_list, opts = {})
      accounting_journals_delete_accounting_journal_with_http_info(id_list, opts)
      return nil
    end

    # Eliminar póliza contable
    # 
    # @param id_list 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def accounting_journals_delete_accounting_journal_with_http_info(id_list, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingJournalsApi.accounting_journals_delete_accounting_journal ..."
      end
      # verify the required parameter 'id_list' is set
      if @api_client.config.client_side_validation && id_list.nil?
        fail ArgumentError, "Missing the required parameter 'id_list' when calling AccountingJournalsApi.accounting_journals_delete_accounting_journal"
      end
      # resource path
      local_var_path = "/api/AccountingJournals"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(id_list)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingJournalsApi#accounting_journals_delete_accounting_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Editar póliza contable
    # 
    # @param accounting_journal 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def accounting_journals_edit_accounting_journal(accounting_journal, opts = {})
      data, _status_code, _headers = accounting_journals_edit_accounting_journal_with_http_info(accounting_journal, opts)
      return data
    end

    # Editar póliza contable
    # 
    # @param accounting_journal 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def accounting_journals_edit_accounting_journal_with_http_info(accounting_journal, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingJournalsApi.accounting_journals_edit_accounting_journal ..."
      end
      # verify the required parameter 'accounting_journal' is set
      if @api_client.config.client_side_validation && accounting_journal.nil?
        fail ArgumentError, "Missing the required parameter 'accounting_journal' when calling AccountingJournalsApi.accounting_journals_edit_accounting_journal"
      end
      # resource path
      local_var_path = "/api/AccountingJournals"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(accounting_journal)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingJournalsApi#accounting_journals_edit_accounting_journal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Obtiene la lista de pólizas contables.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filters the results, based on a Boolean condition.
    # @option opts [String] :orderby Sorts the results.
    # @option opts [Integer] :top Returns only the first n results.
    # @option opts [Integer] :skip Skips the first n results.
    # @return [AccountingJournalPage]
    def accounting_journals_get(opts = {})
      data, _status_code, _headers = accounting_journals_get_with_http_info(opts)
      return data
    end

    # Obtiene la lista de pólizas contables.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filters the results, based on a Boolean condition.
    # @option opts [String] :orderby Sorts the results.
    # @option opts [Integer] :top Returns only the first n results.
    # @option opts [Integer] :skip Skips the first n results.
    # @return [Array<(AccountingJournalPage, Fixnum, Hash)>] AccountingJournalPage data, response status code and response headers
    def accounting_journals_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AccountingJournalsApi.accounting_journals_get ..."
      end
      # resource path
      local_var_path = "/api/AccountingJournals"

      # query parameters
      query_params = {}
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'$skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AccountingJournalPage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountingJournalsApi#accounting_journals_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
