=begin
#Bind ERP API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: v1.2

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module SwaggerClient
  class ProspectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Agregar Prospecto
    # 
    # @param new_prospect 
    # @param [Hash] opts the optional parameters
    # @return [String]
    def prospects_add_prospect(new_prospect, opts = {})
      data, _status_code, _headers = prospects_add_prospect_with_http_info(new_prospect, opts)
      return data
    end

    # Agregar Prospecto
    # 
    # @param new_prospect 
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Fixnum, Hash)>] String data, response status code and response headers
    def prospects_add_prospect_with_http_info(new_prospect, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProspectsApi.prospects_add_prospect ..."
      end
      # verify the required parameter 'new_prospect' is set
      if @api_client.config.client_side_validation && new_prospect.nil?
        fail ArgumentError, "Missing the required parameter 'new_prospect' when calling ProspectsApi.prospects_add_prospect"
      end
      # resource path
      local_var_path = "/api/Prospects"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(new_prospect)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'String')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProspectsApi#prospects_add_prospect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Borrar Prospecto
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def prospects_delete_by_id(id, opts = {})
      prospects_delete_by_id_with_http_info(id, opts)
      return nil
    end

    # Borrar Prospecto
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def prospects_delete_by_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProspectsApi.prospects_delete_by_id ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProspectsApi.prospects_delete_by_id"
      end
      # resource path
      local_var_path = "/api/Prospects/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProspectsApi#prospects_delete_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Editar Prospecto
    # 
    # @param prospect 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def prospects_edit_client(prospect, opts = {})
      prospects_edit_client_with_http_info(prospect, opts)
      return nil
    end

    # Editar Prospecto
    # 
    # @param prospect 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def prospects_edit_client_with_http_info(prospect, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProspectsApi.prospects_edit_client ..."
      end
      # verify the required parameter 'prospect' is set
      if @api_client.config.client_side_validation && prospect.nil?
        fail ArgumentError, "Missing the required parameter 'prospect' when calling ProspectsApi.prospects_edit_client"
      end
      # resource path
      local_var_path = "/api/Prospects"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(prospect)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProspectsApi#prospects_edit_client\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Obtiene los detalles de un prospecto.
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [ProspectDetails]
    def prospects_get(id, opts = {})
      data, _status_code, _headers = prospects_get_with_http_info(id, opts)
      return data
    end

    # Obtiene los detalles de un prospecto.
    # 
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProspectDetails, Fixnum, Hash)>] ProspectDetails data, response status code and response headers
    def prospects_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProspectsApi.prospects_get ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProspectsApi.prospects_get"
      end
      # resource path
      local_var_path = "/api/Prospects/{id}".sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'application/xml', 'text/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProspectDetails')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProspectsApi#prospects_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Obtiene la lista de prospectos.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filters the results, based on a Boolean condition.
    # @option opts [String] :orderby Sorts the results.
    # @option opts [Integer] :top Returns only the first n results.
    # @option opts [Integer] :skip Skips the first n results.
    # @return [ProspectListItemPage]
    def prospects_get_prospects(opts = {})
      data, _status_code, _headers = prospects_get_prospects_with_http_info(opts)
      return data
    end

    # Obtiene la lista de prospectos.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter Filters the results, based on a Boolean condition.
    # @option opts [String] :orderby Sorts the results.
    # @option opts [Integer] :top Returns only the first n results.
    # @option opts [Integer] :skip Skips the first n results.
    # @return [Array<(ProspectListItemPage, Fixnum, Hash)>] ProspectListItemPage data, response status code and response headers
    def prospects_get_prospects_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ProspectsApi.prospects_get_prospects ..."
      end
      # resource path
      local_var_path = "/api/Prospects"

      # query parameters
      query_params = {}
      query_params[:'$filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'$orderby'] = opts[:'orderby'] if !opts[:'orderby'].nil?
      query_params[:'$top'] = opts[:'top'] if !opts[:'top'].nil?
      query_params[:'$skip'] = opts[:'skip'] if !opts[:'skip'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ProspectListItemPage')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProspectsApi#prospects_get_prospects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
